report/*
build/*
ReadableSerialization.hxproj
bin/Main.swf
*.hxproj
out/
*.n
*.idea
*.iml
*.txt
!arraySample.txt
!bigArraySample.txt
!boolSample.txt
!classSample.txt
!enumSample.txt
!enumSample2.txt
!enumSample3.txt
!floatSample.txt
!intSample.txt
!objectSample.txt
!objectSample2.txt
!stringMapSample.txt
!stringSample.txt